<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="memberVO" type="com.sowl.sowlbooks.VO.memberVO"/>
		<typeAlias alias="noticeVO" type="com.sowl.sowlbooks.VO.noticeVO"/>
		<typeAlias alias="bookVO" type="com.sowl.sowlbooks.VO.bookVO"/>
	</typeAliases>
</configuration>