<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sowl.sowlbooks.bookMapper">
	<select id="bookList" resultType="hashMap">
		SELECT 
							A.BOOK_NO,
							A.BOOK_NAME, 
							A.BOOK_AUTHOR, 
							A.BOOK_PUBLISHER, 
							A.MEMBER_NO,
							DATE_FORMAT(A.BOOK_INSERTDATE, '%Y-%m-%d') AS BOOK_INSERTDATE,
							B.FILE_NAME 
		FROM 
							BOOK A
		INNER JOIN
							FILE B
		ON
							A.BOOK_NO = B.BOOK_NO
		WHERE
							A.BOOK_DELFLAG = 0
		<include refid="search"/>
		ORDER BY
							A.BOOK_NAME DESC
		LIMIT
							#{pageStart}, #{perPageNum}
	</select>
	
	<select id="countBook" parameterType="hashMap" resultType="Integer">
		SELECT 
							COUNT(BOOK_NO) 
		FROM 
							BOOK
		WHERE
							BOOK_DELFLAG = 0
		<include refid="search"/>
	</select>
	
	<sql id="search">
		<if test="keyword != null">
		AND
							BOOK_NAME LIKE CONCAT('%', #{keyword}, '%')
		OR
							BOOK_AUTHOR LIKE CONCAT('%',#{keyword},'%')
		OR
							BOOK_PUBLISHER LIKE CONCAT('%', #{keyword},'%')
		
		</if>
	</sql>
	
	<insert id="insertBook" parameterType="bookVO">
		INSERT
		INTO
							BOOK
							(
							BOOK_NAME,
							BOOK_AUTHOR,
							BOOK_PUBLISHER,
							BOOK_NO
							)
		VALUES
							(
							#{book_name},
							#{book_author},
							#{book_publisher},
							#{book_no}
							)
	</insert>
	
	<insert id="insertFile" parameterType="fileVO">
		INSERT
		INTO
							FILE
							(
							BOOK_NO,
							FILE_NAME,
							FILE_ORI_NAME,
							FILE_URL
							)
		VALUES
							(
							#{ book_no},
							#{ file_name},
							#{ file_ori_name},
							#{ file_url}
							)
	
	</insert>
	
	<select id="bookDetail" parameterType="String" resultType="hashMap">
		SELECT 
							A.BOOK_NO,
							A.BOOK_NAME, 
							A.BOOK_AUTHOR, 
							A.BOOK_PUBLISHER, 
							A.MEMBER_NO,
							DATE_FORMAT(A.BOOK_INSERTDATE, '%Y-%m-%d') AS BOOK_INSERTDATE,
							B.FILE_NAME,
							B.FILE_NO
		FROM 
							BOOK A
		INNER JOIN
							FILE B
		ON
							A.BOOK_NO = B.BOOK_NO
		WHERE
							A.BOOK_NO = #{ book_no}
		AND
							A.BOOK_DELFLAG = 0
		AND
							B.FILE_DELFLAG = 0
	</select>
	
	<update id="bookDelete" parameterType="String">
		UPDATE
						BOOK
		SET
						BOOK_DELFLAG = 1
		WHERE
						BOOK_NO = #{ book_no}
	</update>
	
	<update id="fileDelete" parameterType="int">
		UPDATE
						FILE
		SET
						FILE_DELFLAG = 1
		WHERE
						FILE_NO = #{ file_no}
	
	</update>
</mapper>