<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sowl.sowlbooks.memberMapper">
	<select id="selectUserById" resultType="memberVO">
		<![CDATA[
			SELECT
								*
			FROM
								MEMBER
			WHERE
								MEMBER_ID=#{member_id}
		]]>
	</select>
	
	<select id="checkNo" parameterType="int" resultType="int">
		SELECT
							COUNT(MEMBER_NO)
		FROM
							MEMBER
		WHERE
							MEMBER_NO = #{ member_no}
	</select>
	
	<select id="checkId" parameterType="String" resultType="int">
		SELECT
							COUNT(MEMBER_ID)
		FROM
							MEMBER
		WHERE
							MEMBER_ID =#{ member_id}
	</select>
	
	<insert id="signIn" parameterType="memberVO">
		INSERT 
		INTO 
		MEMBER
							(
							MEMBER_NO, 
							MEMBER_NAME, 
							MEMBER_ID, 
							MEMBER_PW,
							MEMBER_EMAIL 
							)
		VALUES
							(
							#{ member_no},
							#{ member_name},
							#{ member_id},
							#{ member_pw},
							#{ member_email} 
							)
	</insert>
</mapper>